player-connection-mode=Connect
player-connection-guid=3461740062
player-connection-debug=1
player-connection-project-name=MateEngineX
player-connection-wait-timeout=-1
player-connection-ip=192.168.178.99
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
force-d3d11-bitblt-model=
build-guid=6ef804ca9bcf4bd681659a819824fbda
