player-connection-mode=Connect
player-connection-guid=1335212342
player-connection-debug=0
player-connection-project-name=MateEngineX
player-connection-wait-timeout=-1
player-connection-ip=192.168.178.99
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=6b4933f6dda041a598fc1d8739cc78ea
